<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/java페스티벌/src/java페스티벌/자바페01.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="java페스티벌.자바페01"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="java페스티벌"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java페스티벌"/>
</launchConfiguration>
